* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.contains {
	background-color: #426efd;
	min-height: 400vh;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #14296d;
	box-shadow: 0 0.2vw 0.6vw rgba(0, 0, 0, 0.5);
}

.navbar > h1 {
	color: #fff;
	margin-left: 45vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	text-transform: capitalize;
	font-weight: 800;
	letter-spacing: 0.03vw;
	font-size: 1.5vw;
}

.filter-btn {
	display: flex;
	justify-content: center;
	column-gap: 5vw;
	align-items: center;
	/* background-color: red; */
	margin-top: 3vw;
}

.filter-btn > button {
	background: none;
	border: none;
	font-size: 1vw;
	border: 0.2vw solid black;
	background-color: #0d1c4e;
	color: #fff;
	border-radius: 1vw;
	padding: 0.1vw 2vw;
	font-weight: 400;
	transition: all 0.2s ease;
}

.filter-btn > button:hover {
	background-color: #14296d;
	box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.5);
}

.filter-btn > button:active {
	background-color: #3665ff;
	box-shadow: 0 0.4vw 0.6vw rgba(0, 0, 0, 0.5);
	border: 0.2vw solid #fff;
}

.spinner {
	position: relative;
	width: 56px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 45vw;
	margin-top: 10vw;
}

.spinner::before,
.spinner::after {
	border: 6.7px solid #1f3991;
	border-radius: 50%;
	position: absolute;
	content: "";
	display: block;
}

.spinner::before {
	width: 33.6px;
	height: 33.6px;
	border-bottom-color: transparent;
	border-left-color: transparent;
	animation: spinner-1o3y8q 0.75s infinite linear reverse;
}

.spinner::after {
	animation: spinner-1o3y8q 0.5s infinite linear;
	height: 56px;
	width: 56px;
	border-right-color: transparent;
	border-top-color: transparent;
}

@keyframes spinner-1o3y8q {
	to {
		transform: rotate(360deg);
	}
}

.load-text {
	margin-top: 1.5vw;
	margin-left: 45vw;
	font-weight: 600;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.course-img {
	position: relative;
}

.like-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 85%;
	top: 90%;
}

.like-icon > button {
	width: 2.5vw;
	height: 5vh;
	border-radius: 50%;
}

.like-icon > button > .icons {
	font-size: 1.4vw;
	margin-top: -0.1vw;
}

.card-container {
	display: flex;
	flex-direction: column;
	background-color: #0d1c4e;
	border-radius: 0.5vw;
	box-shadow: 0 1vw 0.8vw rgba(0, 0, 0, 0.5);
	transition: all 0.2s ease;
	overflow: hidden;
}

.card-container:hover {
	transform: scale(1.1);
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 4vw;
	justify-content: center;
	align-items: center;
	margin: 4vw 4vw;
	column-gap: 2vw;
	row-gap: 4vw;
}

.course-details > h4 {
	font-size: 1.2vw;
	color: #fff;
	font-weight: 600;
	margin-top: 1vw;
	padding: 0 0 0 0.5vw;
}
.course-details > p {
	font-size: 1vw;
	color: #fff;
	margin-top: 1.5vw;
	margin-bottom: 1.5vw;
	padding: 0 0.5vw;
}
